h1 { color:black; font-size: 100px; }
h2 { color:#007e7e; font-size: 50px;}
h3 { color:#777474; font-size: 12px; text-align: center;}
h4 { color:#007e7e; font-size: 25px;}
h5 { color:#000000; font-size: 20px;}
h6 { color:#7e0000; font-size: 20px;}
body { background-color: white;}   

#garantie {
    font-style: oblique;
    color: #444;
    margin: 30px dashed white;
    margin-right: 280px;
    background-color: #a7cece;
    padding: 50px 0px 50px 90px;
    background-image: url(bilder/hintergrund.gif);
    background-repeat: no-repeat;
}
            
            
#elixire { 
    float: right;
    width: 280px;
    padding: 0px,0px,0px, 15px;
}